* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(14px + 0.25vw);
  min-height: 100vh;
  background-image: linear-gradient(90deg, #0f0a30, #310776 100%);
  background-attachment: fixed;
}

body {
  font-family: "Space Grotesk";
  color: #f9fafb;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

h1,
h2 {
  color: #f9fafb;
  text-transform: uppercase;
  font-size: calc(12px + 0.25vw);
  letter-spacing: 0.1vw;
  font-weight: 600;
}

h1 {
  color: #feab30;
  margin-bottom: 5px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  padding-left: 14px;
}

main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

p {
  line-height: 1.4;
  font-size: calc(24px + 0.25vw);
  max-width: 20em;
}

p > a {
  transition: color 200ms linear;
}

p > a:hover {
  color: #59dcc1;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

header a {
  border-bottom: 2px solid #f9fafb;
}

section {
  padding: 10vh 4vw;
  max-width: 60em;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.avatar {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 100%;
  display: block;
  background-image: url("avatar.jpg");
  background-size: cover;
  position: relative;
  margin-right: 50px;
}

.avatar::before {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 134 134'%3E%3Cdefs/%3E%3Cpath stroke='url(%23paint0_linear)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M67.2 125.6c0 .6-.3 1.4-.2 2 .1.6.5 1.3.6 2 .2.7.2 1.5.6 2.2M2 66.7c.6 0 1.3.2 2 .1.6-.1 1.2-.5 2-.6.7-.1 1.5-.2 2.1-.6M4.5 83h2c.6-.2 1.2-.7 1.9-.8.7-.2 1.5-.3 2.1-.8m.3 18c.6 0 1.3 0 1.9-.2.6-.2 1.2-.7 1.8-1 .7-.2 1.5-.4 2.1-.9m1.6 13.7c.6-.2 1.4-.1 2-.4.5-.3 1-.8 1.7-1.1.7-.3 1.5-.6 2-1.2m5.6 13.2l1.8-.7 1.6-1.4c.6-.4 1.3-.8 1.7-1.5m8.5 9.8c.5-.4 1.2-.6 1.6-1l1.3-1.7c.6-.5 1.2-1 1.5-1.7m7.7 8.8c.3-.5 1-1 1.1-1.6.2-.6.2-1.4.5-2 .2-.7.6-1.5.6-2.2M132 66.7c-.6 0-1.3.2-2 .1-.6-.1-1.2-.5-2-.6-.7-.1-1.5-.2-2.1-.6m3.6 17.3h-2c-.6-.2-1.2-.7-1.9-.8-.7-.2-1.5-.3-2.1-.8m-.3 18c-.6 0-1.3 0-1.9-.2-.6-.2-1.2-.7-1.8-1-.7-.2-1.5-.4-2.1-.9m-1.6 13.7c-.6-.2-1.4-.1-2-.4-.5-.3-1-.8-1.7-1.1-.7-.3-1.5-.6-2-1.2m-5.6 13.2l-1.8-.7-1.6-1.4c-.6-.4-1.3-.8-1.7-1.5m-8.5 9.8c-.5-.4-1.2-.6-1.6-1l-1.3-1.7c-.6-.5-1.2-1-1.5-1.7m-7.7 8.8c-.3-.5-1-1-1.1-1.6-.2-.6-.2-1.4-.5-2-.2-.7-.6-1.5-.6-2.2M66.8 8.4c0-.6.3-1.4.2-2-.1-.6-.5-1.3-.6-2-.2-.7-.2-1.5-.6-2.2m63.7 49c-.6 0-1.3-.2-2 0-.6.1-1.2.6-1.9.7-.7.2-1.5.3-2.1.8m-.3-18c-.6 0-1.3 0-1.9.2-.6.2-1.2.7-1.8 1-.7.2-1.5.4-2.1.9m-1.6-13.7c-.6.2-1.4.1-2 .4-.5.3-1 .8-1.7 1.1-.7.3-1.5.6-2 1.2m-5.6-13.2l-1.8.7-1.6 1.4c-.6.4-1.3.8-1.7 1.5m-8.5-9.8c-.5.4-1.2.6-1.6 1L88 9.1c-.6.5-1.2 1-1.5 1.7M78.8 2c-.3.5-1 1-1.1 1.6-.2.6-.2 1.4-.5 2-.2.7-.6 1.5-.6 2.2M4.5 51.1h2c.6.2 1.2.7 1.9.8.7.2 1.5.3 2.1.8m.3-18c.6 0 1.3 0 1.9.2.6.2 1.2.7 1.8 1 .7.2 1.5.4 2.1.9m1.6-13.7c.6.2 1.4.1 2 .4.5.3 1 .8 1.7 1.1.7.3 1.5.6 2 1.2m5.6-13.2l1.8.7 1.6 1.4c.6.4 1.3.8 1.7 1.5m8.5-9.8c.5.4 1.2.6 1.6 1L46 9.1c.6.5 1.2 1 1.5 1.7M55.2 2c.3.5 1 1 1.1 1.6.2.6.2 1.4.5 2 .2.7.6 1.5.6 2.2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='20.4' x2='105.5' y1='11.1' y2='120.8' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%2359DCC1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  z-index: -99999;
  left: -15px;
  animation: rotate 50000ms linear infinite;
}

.wave {
  position: fixed;
}

.wave--1 {
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg width='530' height='657' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M530 0H0v657c10.7 0 55-13.4 145.8-67 113.7-66.9 60.4-293.2 89-388.6C257.8 125 441.2 33 530 0z' fill='%23FEAB30'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.wave--2 {
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg width='691' height='777' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.7 776H0h5.6c75-.4 215.7-20.6 219.7-99.4 5.2-101-35-172.2 108.2-261.1 143.3-89 167.8-96 169.5-186.5 1.7-90.4 105-229.8 187-228v775H5.7z' fill='%2359DCC1'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  border: 1px solid rgba(49, 7, 118, 0.6);
  border-radius: 10px;
  background: #180a49;
  overflow: hidden;
  max-width: 30rem;
}

li {
  border-top: 1px solid rgba(49, 7, 118, 0.6);
  list-style: none;
}

li:first-of-type {
  border-top: 0;
}

li a {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  transition: background 200ms linear 50ms;
}

li a span:last-of-type {
  color: #feab30;
  font-size: 15px;
}

li a:hover {
  background: #310776;
}

a {
  color: #f9fafb;
  text-decoration: none;
}

nav {
  margin-top: 50px;
  margin-right: 10px;
  display: inline-block;
  width: 100%;
  position: relative;
  max-width: 15rem;
}

nav:after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background: rgba(49, 7, 118, 0.6);
  content: "";
  z-index: -99;
  left: 0;
  right: 0;
}

nav a {
  transition: color 200ms linear;
  background-color: #180a49;
  margin-right: 2rem;
}

nav a:hover {
  color: #59dcc1;
}

@media screen and (max-width: 700px) {
  .avatar {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    margin-right: 30px;
  }

  header {
    margin-left: 0;
    padding-left: 14px;
  }

  .avatar::before {
    width: 90px;
    height: 90px;
  }

  p {
    max-width: none;
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) {
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
